.announcement-table-container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  
  .announcement-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .announcement-table th, .announcement-table td {
    border: 1px solid #ccc;
    padding: 4px;
    text-align: left;
  }
  
  .announcement-table th {
    background-color: #f2f2f2;
  }
  
  .announcement-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .announcement-table tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  .announcement-table a {
    color: blue;
    text-decoration: none;
  }
  
  .sidebar {
    position: fixed;
    top: 109px; /* Adjust according to your header height */
    bottom: 0;
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: #333;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

