.header-container {
    background-color: #0c3b6c;
    color: white;
    padding: 10px;
}

.header-link {
    color: white;
    text-decoration: none;
}
.search-bar {
    margin-bottom: 10px;
}

.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
