.sidebar {
  top: 0;
  margin-top: 120px;
  background-color: transparent;
  padding: 10px;
  width: 100px;
  position: absolute;
  right: 0; 
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}
